<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Data Heist</title>
    <link rel="stylesheet" href="css/main.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <style>
      @import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

      body {
        font-family: "Roboto Mono", monospace;
      }
      ul {
        width: 60%;
        margin: auto;
        background-color: #eef0f2;
        padding-top: 15px;
        padding-right: 13px;
      }
      #buttonsInLine {
        display: table;
        margin: 0px auto 0px auto;
      }
      .footer {
        font-size: 11px;
        padding: 3px;
        bottom: 0;
        width: 100%;
        position: fixed;
        text-align: center;
        color: #5a5d5e;
        font-family: "Roboto Mono", monospace;
        background-color: white;
      }
    </style>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Data Heist</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/New"
            >Data Vulnerability Survey
          </a>
          <a class="nav-item nav-link" href="/facts">Cyber Security Facts</a>
          <a class="nav-item nav-link" href="/sources">Sources</a>
        </div>
      </div>
    </nav>
    <!-- Body -->
    <h2>Thank you for taking the time to complete this survey!</h2>
    <br />
    <!-- Table -->
    <br />
    <h3>User Responses</h3>
    <br />
    <ul>
      <% User.forEach((User,id)=>{%>
      <!-- Info -->
      <li>
        Site URL: <%=User.site%>
        <br />
        Use Strong Password: <%=User.passwordSafe%>
        <br />
        Site set up with HTTPS: <%=User.https%>
        <br />
        Use VPN: <%=User.useVPN%>
        <br />
        Comments: <%=User.comment%>
        <br />
        <button
          id="buttonsInLine"
          class="btn btn-dark"
          onclick="window.location.href = '/show/<%=User.id%>';"
        >
          View
        </button>
        <br />
        <br />
      </li>
      <!-- Info -->
      <%})%>
    </ul>
    <!-- End of Table -->
    <!-- End of Body -->
    <!-- Footer -->
    <footer class="footer">
      Created by Guadalupe Ramirez
    </footer>
  </body>
</html>
